<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SG.Checkouts_Overview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SG.Checkouts_Overview.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="loadOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scanOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gitClient" serializeAs="String">
                <value />
            </setting>
            <setting name="upgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gitBin" serializeAs="String">
                <value />
            </setting>
            <setting name="gitDefaultBranches" serializeAs="String">
                <value />
            </setting>
            <setting name="scannerEngine" serializeAs="String">
                <value />
            </setting>
            <setting name="scannerRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="scannerIgnorePatterns" serializeAs="String">
                <value />
            </setting>
            <setting name="scannerEntrySubdir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gitFetchAllOnUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iconSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iconMargin" serializeAs="String">
                <value>0</value>
            </setting>
        </SG.Checkouts_Overview.Properties.Settings>
    </userSettings>
</configuration>