
name: Build Action

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        configuration: [Debug, Release]
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 6.0.x

    - name: Install dependencies
      run: dotnet restore

    - name: Inject build number
      shell: pwsh
      run: .\app\InjectVersionNumber.ps1 "${{ github.run_number }}" "${{ github.sha }}"

    - name: Build application
      run: dotnet build --configuration ${{ matrix.configuration }} --no-restore

    - name: Prepare test data
      shell: pwsh
      run: .\create-testdata.ps1

    - name: Run tests
      run: dotnet test --configuration ${{ matrix.configuration }} --no-restore --verbosity normal

    # https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions
    - name: Package release
      if: ${{ matrix.configuration == 'Release' }}
      run: dotnet publish .\app\Checkouts-Overview.csproj -c Release --no-build --no-restore -p:PublishProfile=FolderProfile -p:DebugType=None -p:DebugSymbols=false

    - name: Upload artifacts
      if: ${{ matrix.configuration == 'Release' }}
      uses: actions/upload-artifact@v5
      with:
        name: Checkouts-Overview-${{ env.FULL_VERSION_NUMBER }}
        path: |
          app/bin/publish/**
        if-no-files-found: error
